/* App.css */

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #000; Background color */
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #000; Navbar background color */
  padding: 10px 20px;
  position: relative;
  z-index: 1;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px; /* Adjust the logo size */
  height: 40px;
  margin-right: 10px;
}

.navbar-text {
  font-size: 20px;
  font-weight: bold;
  color: #32d7db;
}

.navbar-right {
  display: flex;
  gap: 10px;
}

.navbar-button {
  background-color: #000; /* Button background color */
  color: #32d7db; /* Button text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.navbar-button:hover {
  background-color: #32d7db; /* Button background color on hover */
  color: #000; /* Button text color on hover */
  transition: background-color 0.3s ease;
}

/* .App {
  position: relative;
} */

.svgstroke{
  stroke: #32d7db;
  stroke-width:2px;
  stroke-dashoffset:0;
  stroke-dasharray:40000;
  animation:stroke 25s ease-in-out
}

  @keyframes stroke{
    0%
    {
      stroke-dashoffset:40000;
      fill-opacity: 0;
    }
    18%{
      fill-opacity: 1;
    }

    100%
    {
      stroke-dashoffset:0;
    }

  }

/* Section Styles */
.section {
  display: flex;
  padding: 40px;
  position: relative;
  flex-wrap: wrap;

  /* position: absolute; */
  pointer-events: none;
  min-height: 100px;
  color: #fff;
  /* z-index: 100; */
}

.section-left {
  flex: 1;
}

.section-image {
  max-width: 100%;
  border-radius: 5px;
}

.section-right {
  flex: 1;
  padding-left: 20px;
  font: 'MonoLisa', 'Courier New', Courier, monospace;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #32d7db; /* Headings color */
}

p {
  font-size: 16px;
  line-height: 1.5;
}


.down{
  background: #060c21 ;
  padding: 2% 15%;
  color: #fff;
  height: 150px;
}
.social-icon {
  margin: 20px 10px;
  position: relative;
  left: 37%;
}
.down p{
  position: absolute;
  left: 43%;
}


#bg {
background-attachment: fixed;
background-image: radial-gradient(
    farthest-corner at 0% 30%,
    #000000,
    #040109,
    #090214,
    #0a0217,
    #160532,
    #1a063b);
/*z-index: 1;*/
/*pointer-events: none;*/
}

/* AnimatedSection.css */
.animated-section {
position: relative;
width: 100%;
height: 100vh;
background: url('./assets/background.jpeg') no-repeat center center fixed;
background-size: cover;
overflow: hidden;
pointer-events: none;
}

.background-image {
position: absolute;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent overlay */
}

.content2 {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
}

.animated-text {
font-size: 3rem;
color: #fff;
text-align: center;
animation: textAnimation 3s infinite alternate;
}

.description {
font-size: 1.2rem;
color: #fff;
text-align: center;
margin-top: 20px;
}

@keyframes textAnimation {
0% {
  transform: translateZ(0);
}
100% {
  transform: translateZ(20px);
}
}

@media screen and (max-width: 480px) {
  .animated-section{
    height: 50vh;
    pointer-events: all;
    background-size: 200%;
    background-position: 50% -5%
  }
  .content2{
    scale: 0.5;
  }
  .section{
    pointer-events: all;
  }
  .section-left{
    flex: auto;
  }
  .social-icon{
    left: 15%;
  }
  .down p{
    left: 30%;
  }
  
}