

  .contacts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%
  }
  .tools {
    display: flex;
    align-items: center;
    padding: 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color: #ff605c;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }
.blur {
    filter: blur(5px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    pointer-events: none;
  }
   
  .tablecard{
    animation: appear 0.5s ease-in-out;
  }
  input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
  }

  @media screen and (max-width: 480px) {
    .contacts-container{
      margin-top: 20%;
    }
  }
