.scan-body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.card {

    padding: 20px;
    border-radius: 30px;
    background-color: #32d7db;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    /* max-width: 300px; */
    width: fit-content;
    margin: 0 auto;
    position: relative;
    top: 20%;
    transition: filter 0.3s; 
  }
  .Qrcard{
    width: auto;
    max-width: 300px;
  }
.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 600;
  }
.tools {
    display: flex;
    align-items: center;
    padding: 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color: #ff605c;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }

   .button1 {
    --color: #000;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 700;
    font-size: 12px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .button1::before, .button1::after {
    content: '';
    display: block;
    width: 37px;
    height: 37px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button1::before {
    top: -1em;
    left: -1em;
   }
   
   .button1::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button1:hover::before, .button1:hover::after {
    height: 300px;
    width: 300px;
   }
   
   .button1:hover {
    color: #32d7db;
   }
   
   .button1:active {
    filter: brightness(.8);
   }

   .qr {
    padding: 5px;
    border: 10px solid #000;
   }

   .request-button:hover::before, .request-button:hover::after {
    height: 500px;
    width: 500px;
   }

   .back:hover::before, .back:hover::after {
    height: 600px;
    width: 600px;
   }

.patient-info {
  color: #000;
}
  
.request-access {
  display: flex;
  flex-direction: column;
}

textarea {
  margin-bottom: 15px;
  
}

.select-button-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

select {
  flex: 1;
  margin-right: 10px;
  margin-top: 1;
}

button {
  flex: 1;
}

select {
  outline:0;
  border:0!important;
  background: #5c6664;
  flex: 1;
  padding: 0 .5em;
  color:#fff;
  cursor:pointer;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 12em;
  height: 2em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: .25em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: -10px;
  right: -5px;
  padding: 0 1em;
  background: #000;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
  scale: 0.8;
}
.select:hover::after {
  color: #32d7db;
}

.request-button {
  scale: 0.8;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  top: -6px;
  width: 30px;
}

.back-button {
  align-items: center;
  display: grid;
  padding-left: 20%;
  padding-right: 20%;
}

   /* .navbar-container {
    position: relative;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #32d7db;
  }
  
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 30px;
    margin-right: 10px;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: #32d7db; }
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: #32d7db;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
  bottom: -10px; }
  .hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; 
  }
  .hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
   }
  .hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
   }
  
  .hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
   }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg);
   }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); 
  }
      
  
  .navbar-container {
    position: relative;
  } */
/*   
  .dropdown-menu {
    position: absolute;
    top: 80px; 
    right: -300px;
    height: 100vh;
    width: 200px;
    background-color: #012727;
    border-radius: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    transition: right 0.3s ease-in-out; 
  }
  
  .dropdown-menu.open {
    right: 0;
  }
  
  .dropdown-menu button1 {
    background: none;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    margin: 5px 0;
    color: #fff;
  }
  
  .dropdown-menu button:hover {
    background-color: #858282;
  }
  
  
  .dropdownMenu hr {
    width: 100%;
    margin: 30px 0;
    border: 0.5px solid #ccc;
  }
  
  .socialIcons {
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
  }
  
  .socialIcons i {
    margin: 0 5px;
    cursor: pointer;
  } */

  .blur {
    filter: blur(5px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    pointer-events: none;
  }

  i {
    color: #32d7db;
  }
  a {
    text-decoration: none;
    color: #32d7db;
    margin-bottom: 5px;
  }