/* Signup.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #000;
  color: #fff;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  color: #fff;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  border: 3px solid #32d7db;
}

.left-content,
.right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s;
}

.blur {
  filter: blur(2px); /* Apply blur to the content */
}

.image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  transition: 0.4s;
  background-color: #2c71da; /* Blue color when on the doctor side */
  transform: translateX(0);
}

.slider:before {
  content: '';
  position: absolute;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.switch.right .slider {
  background-color: #4cd964; /* Green color when on the patient side */
}

.switch.right .slider:before {
  transform: translateX(42px); /* Move the circle to the right */
}

.switch input:checked + .slider {
  background-color: #4cd964; /* Green color when on the patient side */
}

.switch input:checked + .slider .circle {
  transform: translateX(40px); /* Move the circle to the right when checked */
}

.signup-form {
  background: rgba(255, 255, 255, 0.09);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 600px;
  border: 3px solid #32d7db;
}

.signup-form h2 {
  margin-top: 0;
  color: #32d7db;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #32d7db;
}

input{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

/* button[type="submit"] {
  background-color: #fff;
  color: #2c71da;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #4cd964;
  color: #fff;
} */

.btn1{
  border: 1px solid #32d7db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 500;
  cursor: pointer;
  margin: 10px;
  color: #32d7db;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btn1:hover{
  color: #000;
}
.btn1::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #32d7db;
  z-index: -1;
  transition: 0.8s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn1:hover::before{
  height: 180%;
}

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
  }
}


.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 40px;
  height: 40px;
  background: rgba(92, 236, 240, 0.382);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 84%;
  width: 80px;
  height: 80px;
  bottom: -50px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 84%;
  width: 120px;
  height: 120px;
  bottom: -65px;
  animation-delay: 1s;
}
.background li:nth-child(2) {
  left: 69%;
  width: 80px;
  height: 80px;
  bottom: -100px;
  animation-delay: 2s;
}
.background li:nth-child(3) {
  left: 24%;
  width: 100px;
  height: 100px;
  bottom: -120px;
  animation-delay: 7s;
}
.background li:nth-child(4) {
  left: 36%;
  width: 80px;
  height: 80px;
  bottom: -120px;
  animation-delay: 15s;
}
.background li:nth-child(5) {
  left: 49%;
  width: 122px;
  height: 122px;
  bottom: -120px;
  animation-delay: 21s;
}
.background li:nth-child(6) {
  left: 87%;
  width: 160px;
  height: 160px;
  bottom: -120px;
  animation-delay: 12s;
}
.background li:nth-child(7) {
  left: 4%;
  width: 40px;
  height: 40px;
  bottom: -120px;
  animation-delay: 32s;
}
.background li:nth-child(8) {
  left: 50%;
  width: 30px;
  height: 30px;
  bottom: -120px;
  animation-delay: 27s;
}
.background li:nth-child(9) {
  left: 60%;
  width: 160px;
  height: 160px;
  bottom: -120px;
  animation-delay: 44s;
}

